{% load bootstrap jiboia_taglibs %}

{% if form %}
<form action="" , method="POST">
    {% csrf_token %}
    {{ form|bootstrap }}
    <input type="submit" value="Save" class="btn btn-sm">
</form>
{% endif %}

{% if objeto %}

<p>Data da criação: <span><strong>{{ objeto.criacao_at}}</strong></span></p><hr>
<p style="font-weight: bold;">Minhas Ações.
    <a href="#" data-target="#form-modal" data-titulo="Nova atividade" data-url="{% url 'jiboia:atividades' projeto_id=objeto.id %}"
        data-modulo='atividades' data-action="@@create" data-toggle="modal">Nova Atividade</a>
</p>
<div class="row">
    <div class="col-sm " id="aguardando" style="padding-top: 1em; border-right: 1px #dddddd solid;">
        <div class="alert alert-primary" role="alert">
            Aguardando
        </div>
        {{objeto|atividades}}
    </div>
    <div class="col-sm " id="desenvolvimento" style="padding-top: 1em; border-right: 1px #dddddd solid;">
        <div class="alert alert-secondary" role="alert">
            Fazendo
        </div>
        {{objeto|atividades:'desenvolvimento'}}
    </div>
    <div class="col-sm" id="concuido" style="padding-top: 1em; border-right: 1px #dddddd solid;">
        <div class="alert alert-success" role="alert">
            Concluido
        </div>
        {{objeto|atividades:'concluido'}}
    </div>
    <div class="col-sm" style="padding-top: 1em;" id="cancelado">
        <div class="alert alert-danger" role="alert">
            Cancelado
        </div>
        {{objeto|atividades:'cancelado'}}
    </div>
</div>

{% endif %}