{% load bootstrap jiboia_taglibs static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <title>{{titulo}}</title>
</head>

<body style="margin-top: 2em;">
    <div class="container">
        <h2>{{ titulo }}</h2>
        <hr>
        <p style="font-weight: bold;">{{ descricao }} </p>

        {% if form %}
        <form action="" , method="POST">
            {% csrf_token %}
            {{ form|bootstrap }}
            <input type="submit" value="Save" class="btn btn-sm">
        </form>
        {% endif %}

        {% if objeto %}

        <p>Data da criação: <span><strong>{{ objeto.criacao_at}}</strong></span></p>

        <hr>
        <p style="font-weight: bold;">Minhas Ações.
            <a href="#"
                data-target="#form-modal"
                data-titulo="Nova atividade"
                data-url="{% url 'jiboia:atividades' projeto_id=objeto.id %}"
                data-modulo='atividades'
                data-action="@@create"
                data-toggle="modal">Nova Atividade</a>
        </p>
        <div class="row">
            <div class="col-sm " style="padding-top: 1em; border-right: 1px #dddddd solid;">
                <div class="alert alert-primary" role="alert">
                    A Fazer
                </div>
                {{objeto|atividades}}
            </div>
            <div class="col-sm " style="padding-top: 1em; border-right: 1px #dddddd solid;">
                <div class="alert alert-secondary" role="alert">
                    Desenvolvendo
                </div>
                {{objeto|atividades:'desenvolvimento'}}
            </div>
            <div class="col-sm" style="padding-top: 1em; border-right: 1px #dddddd solid;">
                <div class="alert alert-success" role="alert">
                    Concluido
                </div>
                {{objeto|atividades:'concluido'}}
            </div>
            <div class="col-sm" style="padding-top: 1em;">
                <div class="alert alert-danger" role="alert">
                    Cancelado
                </div>
                {{objeto|atividades:'cancelado'}}
            </div>
        </div>

        {% endif %}

        {% include 'jiboia_layout/componentes/includes/form_modal.html' %}

    </div>
    <script src="{% static 'js/jquery/3.3.1/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/4.1.3/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/ajax.js' %}" ></script>
    <script src="{% static 'js/m_controller.js' %}" ></script>

</body>
</html>